<!doctype html>
<head>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&display=swap" rel="stylesheet">

  <title>{% block title %}{% endblock %} - Inventory</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
  <main class="main">
    <nav class="nav">
      <p class="nav__logo"><a href="/">Inventory Management</a></p>
      <ul class="nav__list">
        {% if g.user %}
          <li><span>{{ g.user['username'] }}</span>
          <li><a href="{{ url_for('supplier.get_all') }}">Suppliers</a>
          <li><a href="{{ url_for('manufacturer.get_all') }}">Manufacturers</a>
          <li><a href="{{ url_for('product.get_all') }}">Products</a>
          <li><a href="{{ url_for('user.logout') }}">Log Out</a>
        {% else %}
          <li><a href="{{ url_for('user.register') }}">Register</a>
          <li><a href="{{ url_for('user.login') }}">Log In</a>
        {% endif %}
      </ul>
    </nav>
    <section class="content">
      <header>
        {% block header %}{% endblock %}
      </header>
      {% for message in get_flashed_messages() %}
        <div class="flash">{{ message }}</div>
      {% endfor %}
      {% block content %}{% endblock %}
    </section>
    <footer class="footer">
      <p>&copy; 2026 <a href="https://github.com/Borys35/Inventory-Management-Software" target="_blank">Inventory Management System</a> </p>
    </footer>
  </main>
</body>