{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Delivery{% endblock %}</h1>
{% endblock %}

{% block content %}
    <form method="POST" class="form" action="{{ url_for('delivery.update', delivery_id=delivery.id) }}">
    
        <label>
            Delivery status:
            <select name="delivery_status">
                <option value="pending">Pending</option>
                <option value="in_progress">In progress</option>
                <option value="completed">Completed</option>
                <option value="cancelled">Cancelled</option>
            </select>
        </label>
        <br />
        
        <input type="submit" value="Update delivery status" />
    </form>

    <table>
        <tr>
            <th>Name</th>
            <th>SKU</th>
            <th>Quantity</th>
            <th>Single price</th>
            <th>Total price</th>
        </tr>
        {% for p in products %}
        <tr>
            <td>{{ p.name }}</td>
            <td>{{ p.sku }}</td>
            <td>{{ p.quantity }}</td>
            <td>{{ p.single_price }}</td>
            <td>{{ p.total_price }}</td>
        </tr>
        {% endfor %}
    </table>
{% endblock %}